.page-header {
    padding-bottom: 9px;
    margin: 150px 0 20px;
    border-bottom: 1px solid #eee;
}
.navbar-custom {
  background: #14281D;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
