.main {
  margin-top: 150px;
}
.navbar-custom {
  background: #14281D;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.list-unstyled a,
.list-unstyled a:hover  {
  color: #373737
}
